:root {
  font-family: "atkinson hyperlegible";
  color: black;
  margin: 0;
  padding: 0;
  --shadow: 0px 5px 3px #00000073;
}

html {
  width: 100vw;
  min-height: 100dvh;
  background: linear-gradient(0deg, #acc6ff, #dfe5eb) no-repeat;
}

body {
  margin: 0;
  min-height: 100dvh;
  padding: 1.4em;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.heading,
.rdmGenreContainer,
.linksContainer {
  width: 100%;
  max-width: 900px;
  padding: 1em;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading{
  line-height: .3em;
  overflow-wrap: break-word;
  line-height: normal;
}

.subheading {
  font-size: .8em;
  line-height: normal;
  overflow-wrap: break-word;
}

/*---------------------- genre container ---------- */

.rdmGenreContainer{
  width: 70%;
}

.showGenre {
  width: 100%;
  aspect-ratio: 1; 

  border-radius: 1em;
  background-color: white;
  box-shadow: var(--shadow);

  display: flex;
  flex-direction: column;   
  justify-content: space-between;
  align-items: center; 


  text-align: center;
  padding: 1em;
}

#genreName {
  margin: .8em;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: capitalize; 
}


#previewSong {
  font-style: italic;
}

#previewArtist {
  margin-top: .3em;
  font-weight: 600;
  font-size: 1.1em;
}


/*------------------------- Buttons ----------------- */


.mainButtons {
  width:110%;
  margin: .8em;
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.playButtons {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  
}

.actionButtons {

  display: flex;
  gap: .4em;
  width: 100%;
}


/*---------------------- button styling ---------- */


#resumePlay,
#stopPlay,
#rePlay {
  flex: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: 0.8em;
  border: none;
  border-radius: 0.8em;
  background-color: white;
  font-weight: 700;

  box-shadow: var(--shadow);
}

.buttonAction {
  margin-top: .3em;
  flex: 1; 

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  padding: 20px;
  border: none;
  border-radius: 1em;

  background-color: white;
  text-decoration: none;
  text-align: center;
  overflow-wrap: break-word;
  line-height: normal;
  font-weight: 700;
  font-size: medium;
  color: black;

  box-shadow: var(--shadow);
}

/*-------------------------- Bottom links Styling -------------------*/

.button {
  display: block;
  flex: 1 1 200px;

  align-items: center;
  justify-content: center;
  padding: 1em;
  border: none;
  border-radius: 0.8em;
  background-color: white;
  text-decoration: none;
  font-size: large;
  font-weight: bolder;
  color: black;
  box-shadow: var(--shadow);
  position: relative;
}

.otherLinks {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
}

.tooltip {
  margin-top: .5em;
  text-align: left;
  display: block;
  font-weight: 300;
  font-size: 0.8rem;
  opacity: 0.8;
}

.tooltip strong {
  font-weight: bold;
  font-style: normal;
}


/* ---------------------------------------------------------------------------- PC ----------------------------------------------------------------------- */

@media (min-width: 1024px) {
  .rdmGenreContainer{
    width: 15%;
  }

  .showGenre {
    max-width: 100%;
    min-height: 2em;  
  }

  .mainButtons .playButtons{
    max-width: 100%;
  }

 .button {
   display: inline-flex;
    width: auto;   
    flex: 0 0 auto; 
  } 

  .otherLinks {
    width: 60dvw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .tooltip {
    position: absolute;
    bottom: 100%;
    transform: translateY(4px);
    width: 8em;
    background: white;
    padding: 1em;
    border-radius: 0.8em;
    overflow-wrap: break-word;
    line-height: normal;
    font-style: italic;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
    box-shadow: var(--shadow);
  }
  .button:hover .tooltip {
    opacity: 1;
  }

  .button:hover {
    transform: translateY(-2px);
  }

}



@media (min-width: 768px) and (max-width: 1023px) {

  .rdmGenreContainer {
    width: 40dvw; 
  }

  .showGenre {
    max-width: 100%;
    min-height: 200px; 
  }

  .mainButtons .playButtons {
    max-width: 100%;
  }

  .button {
    display: inline-flex;
    width: auto;
    flex: 0 0 auto;
  }

  .otherLinks {
    width: 90%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

}






